<h2>Edit the Event: {{title}}</h2>

<form action='/events/{{_id}}/edit' method='post'>

  <label>Title:</label>
  <input type='text' name='title' value='{{title}}' />

  <label>Location:</label>
  <input type='text' name='location' value='{{location}}' />

  <label>Maximum Attendees:</label>
  <input type='number' name='maxAttendees' min='1' value='{{maxAttendees}}' />

  <label>Date:</label>
  <input type='text' name='date' value='{{date}}' />

  <label>Description:</label>
  <textarea name='description' cols='30' rows='4'> {{description}} </textarea>

  <button>Save changes</button>

</form>