<h3>Event Details</h3>

<div class="container">

  <img class="event-details-pic" src='{{eventPicture}}' alt='event-picture' />
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Location : </strong> {{location}}</li>
      <li class="list-group-item">Date : </strong>{{date}}</li>
      <li class="list-group-item">Number Of Attendees: </strong>{{maxAttendees}}</li>
    </ul>
 
</div>
 
