<section class='event-details'>
  <h2>{{title}}</h2>

  <p>
    <strong>Event:</strong>
    <br />
    {{title}}
    <br />
  </p>
  <p>
    <strong>Event Description:</strong>
    {{description}}
    <br />
  </p>
  {{!-- <p>
    <strong>Event Organiser:</strong>
    {{event.organiser}}
    <br />
  </p> --}}
  <p>
    <strong>Event Location:</strong>
    {{location}}
    <br />
  </p>
  <p>
    <strong>Event Date:</strong>
    {{date}}
    <br />
  </p>
  <p>
    <strong>Maximum Attendees:</strong>
    {{maxAttendees}}
    <br />
  </p>

  <p>
    <form action='/events/{{_id}}/delete' method='POST'>
      <button>Delete</button>
    </form>
  </p>

</section>

<a href='/events'>Back</a>