<h3>Event Details</h3>
<div class='card-deck'>
  <div class='card mb-3'>
    <div class='container'>
      <div class='card-body'>
        <h5><strong>Event : </strong>{{title}}</h5>
        <br />
        <h6><strong>Location : </strong> {{location}}</h6>
        <br />
        <h6> <strong>Description : </strong>{{description}}</h6>
        <br />
        <h6> <strong>Date : </strong>{{date}}</h6>
        <br />
        <h6> <strong>Number Of Attendees: </strong>{{maxAttendees}}</h6>
        <br />
        <form action='/events/{{_id}}/delete' method='POST'>
          <button id='dBtn' class='btn btn-info'>
            Delete
          </button>
          <a class='btn btn-info' href='/events/{{_id}}/edit'>Edit</a>
        </form>

      </div>
    </div>
  </div>
</div>