<h3>Current Events</h3>
<div class='container'>
  <div class='row'>
    {{#each events}}
      <div class='col-12 col-md-6 col-lg-4'>
        <div class='card'>
          <img class='card-img-top' alt='fm-events' src='{{eventPicture}}' />
          <br />
          <div class='card-body'>
            <h4><Title>Title: </Title>{{title}}</h4>
            <br />
            <h6><title>Location:</title> {{location}}</h6>
            <br />
            <h6> <title>Date: </title>{{date}}</h6>
            <br />
            <a class='btn btn-info' href='/events/{{_id}}'>More details</a>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>