<h1>Collectin Of The Events:</h1>

{{#each events}}
  <section class='event-summary'>
    <h2>{{this.title}}</h2>
    <label>
      Title:
      <input type='text' name='title' value='{{title}}' />
    </label>
    {{!-- <label>
      Organiser:
      <select name='organiser'>
        {{#each attendeesArr}}
          <option value='{{this._id}}'>{{this.name}}</option>
        {{/each}}
      </select>
    </label> --}}
    <label>
      Location:
      <input type='text' name='location' value='{{location}}' />
    </label>
    <label>
      Date:
      <input type='Date' name='date' value='{{date}}' />
    </label>

    <a href='/events/{{_id}}'>More details</a>
    |
    <a href='/events/{{_id}}/edit'>Edit</a>

  </section>
{{/each}}