<h1>Upcoming Events:</h1>

{{#each events}}
    <section class="event-summary">
        <h2>{{this.title}}</h2>
        <p>
            {{!-- Organizer: {{this.organizer.name}} <br /> --}}
            date: {{this.date}} <br />
            <a href="/events/{{_id}}">More details</a> |
            <a href="/events/{{_id}}/edit">Edit</a>
        </p>

    </section>
{{/each}}