<h3>Collection Of The Events:</h3>

{{#each events}}

  <div class='container'>
    <div class='card'>
      <div class='card-body'>
        <h4><Title>Title: </Title>{{title}}</h4>
        <br />
        <h4><title>Location:</title> {{location}}</h4>
        <br />
        <h6> <title>Date: </title>{{date}}</h6>
        <br />

        <button type='button' class='btn btn-info' href='/events/' {{_id}}>More
          details</button>
        <button
          type='button'
          class='btn btn-info'
          href='/events/{{_id}}/edit'
        >Edit</button>

      </div>
    </div>
  </div>

{{/each}}